{% macro show_card(name, cmc, type, text, highlight=False) -%}

{% if highlight %}
<div class="card bg-light mb-3 border-primary" style="width: 15rem; margin: 15px">
{% else %}
<div class="card" style="width: 15rem; margin: 15px;">
{% endif %}
    <div class="card-header">{{ name }}</div>
    <div class="card-body">
        <!-- <h5 class="card-title">{{ name }}</h5> -->
        <h6 class="card-subtitle mb-2 text-muted small">{{ type }}</h6>
        <p class="card-text"><small>{{ text }}</small></p>
        <!-- <a href="#" class="card-link">Card link</a> -->
        <!-- <a href="#" class="card-link">Another link</a> -->
    </div>
</div>
{%- endmacro %}
