{% extends "layout.html" %}
{% block body %}

{% import "macro_card.html" as macro_card %}

<script src='https://cdn.plot.ly/plotly-latest.min.js'></script>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">Similar cards</li>
        <li class="breadcrumb-item" aria-current="page">{{ card['name'] }}</li>
    </ol>
</nav>

<div class="container">
    <div class="row">
        {{ macro_card.show_card(card['name'], 0, card['types'], card['originalText'], True) }}
    </div>
</div>

<div class="container">
    <div class="row">
        {% for card in similar_cards %}
        {{ macro_card.show_card(card['name'], 0, card['types'], card['originalText']) }}
        {% endfor %}
    </div>
</div>

<br/>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" aria-current="page">Model Plot</li>
    </ol>
</nav>
<div id='myDiv'></div>
<script type="text/javascript">
    var trace1 = {
        x: [1, 2, 3, 4],
        y: [10, 15, 13, 17],
        mode: 'markers',
        type: 'scatter'
    };

    var data = [trace1];

    Plotly.newPlot('myDiv', data);
</script>

<hr />

<button class="btn btn-primary hBack" type="button">
    <i class="fas fa-arrow-left"></i>
    back
</button>

{% endblock %}
